MODELS=MODELS_PATH_HERE
HF_TOKEN=PUT_YOUR_TOKEN_HERE

# For CUDA
# COMPOSE_FILE=docker-compose.yml:docker-compose.cuda.yml
# LLAMA_DOCKERFILE=Dockerfile.llama.cuda
# LLAMA_BACKEND=cuda

# For Vulkan
# COMPOSE_FILE=docker-compose.yml:docker-compose.vulkan.yml
# LLAMA_DOCKERFILE=Dockerfile.llama.vulkan
# LLAMA_BACKEND=vulkan

